
.containerLogin{
    width: 60%;
    height: 70vh;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.imgPaper{
    position: absolute;
    align-self: center;
    width: 80vw;
    height: auto;
    max-width: 650px;
}

.formLogin{
    position: absolute;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #683c11;
}

.label{
    font-size: 1.5rem;
}

.pNotRegister, .linkRegister{
    align-self: center;
    color: #683c11;
}

.msgErro{
    width: 100%;
    text-align: center;
    color: red;
}

@media (max-device-width:675px) {

    .containerLogin{
        width: 80%;
    }

    .imgPaper{
        position: absolute;
        align-self: center;
        width: 95vw;
        height: 65vh;
    }
}