.containerHeader{
    width: 100%;
    height: auto;
    background-color: #ebd1a3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #683c11;
    max-height: 150px;
}

.logo{
    width: 20%;
    height: auto;
    max-height: 150px;
    max-width: 150px;
}

.containerHeaderLogged{
    width: 100%;
    height: 150px;
    background-color: #ebd1a3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #683c11;
    max-height: 150px;
}

.logoLogged{
    width: 20%;
    height: auto;
    max-height: 150px;
    max-width: 150px;
    margin-left: 10px;
}

.hamburguer{
    width: 40px;
    height: auto;
    color: #683c11;
    position: absolute;
    right: 5%;
}